@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins';
  position: relative;

}

.containero {
  padding: 80px;
  margin: 1 auto;
  float: left;
  top: 32px;

}

.formulario {
  display: grid;
  position: relative;
  top: 150px;
}

.rolo {
  width: 100%;
  height: 100px;
}

.lefto {
  height: 1700px;
  background-color: #03989E;
  float: left;
  width: 8%;
}

h1,
h2,
h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h6,
img {
  position: relative;
  top: 130px;
}

h1 {
  color: #03989E;
  font-size: 1000px;
}

h6 {
  position: relative;
  font-size: 20px;
  top: 120px;
  color: black;
}

img {
  border-radius: 50%;
  position: relative;
  padding: 5px;
  width: 150px;
  top: 120px;
}

h2 {

  position: relative;
  top: 1490px;
  color: black;
  right: 70%;
}

.icon-1 {
  position: relative;
  top: 1510px;
  right: 71%;

}


.tete {
  padding: auto;
  position: relative;
  right: 38%;
  top: 1550px;

}

i {
  display: inline-grid;


}

p {
  position: relative;
  top: -65px;
  right: -30%;
  color: black;
}

.intro-text {
  width: 60%;
}

.table-box table,
.summary-box table {
  position: relative;
  width: 100%;
  font-size: 24px;


}

.table-box table {
  position: relative;
  padding-top: 1.5rem;
}



.table-box td:last-child,
.summary-box td:last-child {
  text-align: left;

}

.table-box table tr.heading td {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  height: 1.5rem;
}

.table-box table tr.item td,
.summary-box table tr.item td {
  border-bottom: 1px solid #D7DCE4;
  height: 1.5rem;
}

.summary-box table tr.no-border-item td {
  border-bottom: none;
  height: 1.5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 100px;
  background-color: #fff;
  color: #444;
}

.box {

  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.logo {
  font-size: 200px;
  top: -20px;
}